<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link rel="stylesheet" href="styles/details.css" />
    <link rel="stylesheet" href="styles/sidebar.css" />
</head>

<!-- Sidebar extra functioning starts -->
<script>
    function toggleSidebar() {
        const detailContainer = document.getElementById("user-details");
        detailContainer.classList.toggle("sidebar-open");
    }
</script>
<!-- Sidebar extra functioning ends -->

<body>
    <sidebar>
        <input type="checkbox" id="check" onclick="toggleSidebar()" />
        <label for="check">
            <!-- <i class="fas fa-bars" id="btn"></i> -->
            <div class="bar">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </label>
        <div class="sidebar">
            <header>Financial Application</header>
            <ul>
                <li>
                    <a href="/details"><i class="fa-solid fa-house-user"></i>Home</a>
                </li>
                <li>
                    <a href="/transactions"><i class="fa-solid fa-money-bills"></i>Transactions</a>
                </li>
                <li>
                    <a href="/predictTransactions"><i class="fa-solid fa-star"></i>Predict Fraud</a>
                </li>

                <li class="logout">
                    <form action="/logout" method="POST" class="logout-form">
                        <!-- <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" /> -->
                        <button class="logout-btn" type="submit">
                            <i class="fa-solid fa-right-from-bracket"></i>Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </sidebar>

    <main class="main-container" id="user-details">
        <div class="detail-heading">
            <h3><b>User Details</b></h3>
        </div>

        <div class="user-detail-container">
            <section class="image-section">
                <div class="image-div">
                    <img src="images/dummy.jpg" alt="user image" srcset="" />
                </div>
            </section>

            <section class="detail-section">
                <div class="div1 detail-div">
                    <div class="name-div">
                        <p class="name-heading heading"><b>Name:</b></p>
                        <p class="name detail">John Doe</p>
                    </div>
                    <div class="number-div">
                        <p class="number-heading heading"><b>Mobile Number:</b></p>
                        <p class="number detail">+91-1234567890</p>
                    </div>
                </div>
                <div class="div2 detail-div">
                    <div class="address-div">
                        <p class="address-heading heading"><b>Address:</b></p>
                        <p class="address detail">Lorem Ipsum</p>
                    </div>
                    <div class="account-number-div">
                        <p class="account-number-heading heading">
                            <b>Account Number:</b>
                        </p>
                        <p class="account-number detail">6094085698357</p>
                    </div>
                </div>
                <div class="extra-buttons">
                    <!-- <div class="change-password-btn util-btn">
                        <a href="#">Change Password</a>
                    </div> -->
                    <div class="view-transactions-btn util-btn">
                        <a href="#">View All Transactions</a>
                    </div>
                </div>
            </section>
            
        </div>
        <section class="transactions-section">
            <h3 class="transactions-section-heading">Your Last 5 Transaction</h3>
                <table class="detail-table">
                    <tr>
                        <th>Sr.No.</th>
                        <th>Date</th>
                        <th>Transaction ID</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Merchant</th>
                    </tr>
                </table>
        </section>
    </main>
</body>

</html>