<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link rel="stylesheet" href="styles/fraud-sms-detector.css" />
    <link rel="stylesheet" href="styles/sidebar.css" />
</head>

<!-- Sidebar extra functioning starts -->
<script>
    function toggleSidebar() {
        const detailContainer = document.getElementById("main-container-id");
        detailContainer.classList.toggle("sidebar-open");
    }
</script>
<!-- Sidebar extra functioning ends -->

<body>
    <sidebar>
        <input type="checkbox" id="check" onclick="toggleSidebar()" />
        <label for="check">
            <!-- <i class="fas fa-bars" id="btn"></i> -->
            <div class="bar">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </label>
        <div class="sidebar">
            <header>Financial Application</header>
            <ul>
                <li>
                    <a href="/details"><i class="fa-solid fa-house-user"></i>Home</a>
                </li>
                <li>
                    <a href="/transactions"><i class="fa-solid fa-money-bills"></i>Transactions</a>
                </li>
                <li>
                    <a href="/predictTransactions"><i class="fa-solid fa-star"></i>Predict Fraud</a>
                </li>

                <li class="logout">
                    <form action="/logout" method="POST" class="logout-form">
                        <!-- <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" /> -->
                        <button class="logout-btn" type="submit">
                            <i class="fa-solid fa-right-from-bracket"></i>Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </sidebar>

    <main class="main-container" id="main-container-id">
        <div class="main-heading">
            <h2>Fraud Message Detector</h2>
        </div>
        <div class="input-div">
            <form action="/fraud" method="POST">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div class="message-heading-div">
                    <input type="text" name="message-heading" id="message-heading" class="message" placeholder="Enter Your Message Subject">
                </div>
                <div class="textarea-div">
                    <textarea name="sms" id="sms" cols="30" rows="10" placeholder="Enter Your Message"
                        autocomplete="off" required></textarea>
                </div>
                <div class="predict-button">
                    <button type="submit" class="predict-btn">Predict</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>