@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(43, 107, 204);
}

.main-container {
  height: 90vh;
  width: 90vw;
  background-color: white;
  user-select: none;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  padding: 15px;
  overflow-x: hidden;
}

.image-div img {
  width: 17.36vw;
  height: 35vh;
}

.detail-section {
  width: 100%;
  padding: 15px;
}

.detail-heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.detail-div {
  display: flex;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.name-div {
  /* border: 2px solid green; */
  width: 50%;
}

.name-div p {
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.number-div {
  /* border: 2px solid blue; */
  width: 50%;
}

.number-div p {
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.heading {
  /* font-size: min(1rem, 1.5vw); */
  font-size: clamp(0.8rem, min(1rem, 1.5vw), 1rem);
}

.detail {
  margin: 2%;
  /* font-size: min(1rem, 1.5vw); */
  font-size: clamp(0.8rem, min(1rem, 1.5vw), 1rem);
}

/* .address, .account-number{
  margin:8%
} */

.address-div,
.account-number-div {
  width: 50%;
}

.detail-heading {
  margin-bottom: 20px;
}

.address-div p,
.account-number-div p {
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.view-transaction-section {
  margin-top: 50px;
}

.view-transaction-div {
  width: fit-content;
  margin: auto;
}

.view-transaction-link {
  color: black;
  cursor: pointer;
}

main {
  transition: all 1s ease;
}

.user-detail-container {
  display: flex;
}

.extra-buttons {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
  align-items: center;
}

/* .view-history-btn,
.view-transactions-btn {
  text-align: center;
  width: 50%;
} */

/* .util-btn{
  height: 20px;
} */

.util-btn a {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: rgb(43, 107, 204);
  border-radius: 15px;
  /* font-size: min(1rem, 1.5vw); */
  font-size: clamp(0.8rem, min(1rem, 1.5vw), 1rem);
}

.transactions-section {
  margin-top: 15px;
}

.transactions-section-heading {
  margin-bottom: 30px;
  text-align: center;
}

.table-div{
  overflow: auto;  
}

.detail-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

@media (max-width: 768px) {
  /* .account-number-div, .address-div, .number-div, .name-div{
    text-align: center;
  } */

  .image-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-detail-container {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .detail-section {
    display: flex;
    flex-direction: column;
  }
  .div1,
  .div2,
  .extra-buttons {
    display: flex;
    flex-direction: column;
  }

  .div2 {
    margin-top: -1px;
  }

  .name-div,
  .number-div,
  .account-number-div,
  .address-div,
  .util-btn {
    width: 100%;
    display: block;
    margin-bottom: 2px;
  }

  .util-btn {
    text-align: center;
  }

  .change-password-btn {
    margin-bottom: 35px;
  }
}
