@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(43, 107, 204);
}

.main-container {
  height: 90vh;
  width: 90vw;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  padding: 20px;
}

main {
  transition: all 1s ease;
}

.main-heading {
  text-align: center;
  font-size: clamp(0.5rem, min(1rem, 1.5vw), 1rem);
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.textarea-div {
  margin-top: 15px;
}
textarea {
  width: 79.4vw;
  height: 28vh;
  font-size: clamp(1rem, min(1.2rem, 1.5vw), 1.2rem);
  word-wrap: normal;
  resize: none;
  padding: 10px;
  white-space: pre-wrap;
}

.predict-button {
  margin-top: 20px;
  text-align: center;
}

.predict-btn {
  padding: 15px;
  font-size: clamp(1rem, min(1.2rem, 1.5vw), 1.2rem);
  background-color: rgb(43, 107, 204);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  width: 150px;
}

.sidebar-open {
  user-select: none;
  pointer-events: none;
}

textarea::placeholder {
  font-size: clamp(1rem, min(1.2rem, 1.5vw), 1.2rem);
}

.message {
  width: 79.4vw;
  font-size: clamp(1rem, min(1.2rem, 1.5vw), 1.2rem);
  padding: 10px;
}
.success {
  border-radius: 4px;
  background-color: rgb(180, 255, 180);
  color: rgb(15, 199, 15);
  padding: 1rem;
  text-align: center;
  margin-top: 40px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  border-radius: 4px;
  background-color: rgb(255, 192, 180);
  color: rgb(199, 51, 15);
  padding: 1rem;
  text-align: center;
  margin-top: 40px;
}

.alert h2,
.success h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.alert p,
.success p {
  margin: 0.5rem 0;
}
